/data/
/qd_metrices_all_pairs_cf_tune/
/padded_matrices_cnn_cf_tune/
/qd_matrices_all_pairs_cf_tune/
/padded_matrices_cnn_cf_tune/
/logs/
/mlruns/
/profiler/
/logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
# notebooks/

# mac
.DS_Store

# Other
.vscode
*.tsv
